{% extends "layouts::_page.twig" %}

{% block content %}

    <div class="page page_inner">

        <div class="page__header">
            <div class="page__container _container">
                <h1 class="page__title title">Разделочные ножи</h1>
                <div class="page__breadcrumbs breadcrumbs">
                    <ul class="breadcrumbs__list">
                        <li class="breadcrumbs__item">
                            <a class="breadcrumbs__link" href="#">Главная</a>
                        </li>
                        <li class="breadcrumbs__item">
                            <span class="breadcrumbs__current">Разделочные ножи</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="catalog">
            <div class="catalog__container _container">

                <div class="catalog__body">
                    <div class="catalog__filter">
                        <div class="filter-catalog">
                            <div class="filter-catalog__title">Фильтр товаров</div>
                            <div class="filter-catalog__items">

                                <div data-spollers class="filter-catalog__price price-filter">
                                    <button data-spoller class="price-filter__title _active filter-subtitle">
                                        <span class="_icon-arrow-bottom"></span>
                                        <span class="filter-subtitle__link-title">Цена</span>
                                    </button>
                                    <div data-range data-spoler-list class="price-filter__body _active">
                                        <div class="price-filter__inputs">
                                            <input data-range-from="0" type="text" class="price-filter__input" value="100">
                                            <input data-range-to="5000" type="text" class="price-filter__input" value="5000">
                                        </div>
                                        <div data-range-item class="price-filter__range"></div>
                                    </div>
                                </div>


                                <div data-spollers class="filter-catalog__item item-filter-catalog">
                                    <button data-spoller class="item-filter-catalog__title filter-subtitle _active">
                                        <span class="_icon-arrow-bottom"></span>
                                        <span class="filter-subtitle__link-title">Производство</span>
                                    </button>
                                    <div data-spoler-list class="item-filter-catalog__body _active">
                                        <div class="item-filter-catalog__checkbox checkbox">
                                            <input id="c_1" type="checkbox" class="checkbox__input">
                                            <label for="c_1" class="checkbox__label"><span>АиР<small>(250)</small></span></label>
                                        </div>
                                        <div class="item-filter-catalog__checkbox checkbox">
                                            <input id="c_2" type="checkbox" class="checkbox__input">
                                            <label for="c_2" class="checkbox__label"><span>Булат Сергея Баранова<small>(25)</small></span></label>
                                        </div>
                                        <div class="item-filter-catalog__checkbox checkbox">
                                            <input id="c_3" type="checkbox" class="checkbox__input">
                                            <label for="c_3" class="checkbox__label"><span>Булат Умерова<small>(265)</small></span></label>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="catalog__content">
                        <div class="catalog__control">
                            <select name="" id="" class="select-control">
                                <option value="" selected>По популярности</option>
                                <option value="">По дате</option>
                                <option value="">По отзывам</option>
                            </select>
                        </div>
                        <div class="catalog__products">
                            {% for item in 1..6 %}
                                {% view "^products-card" %}
                            {% endfor %}
                        </div>
                        <div class="catalog__footer">
                            <a class="catalog__more button button_border" href="">Показать больше</a>
                            <div class="catalog__pagging pagging">
                                <button disabled class="pagging__arrow pagging__arrow_left">
                                    <span class="_icon-arrow-bottom"></span>
                                </button>
                                <ul class="pagging__list">
                                    <li class="pagging__item">
                                        <a class="pagging__link _active" href="">1</a>
                                    </li>
                                    <li class="pagging__item">
                                        <a class="pagging__link" href="">2</a>
                                    </li>
                                    <li class="pagging__item">
                                        <a class="pagging__link" href="">3</a>
                                    </li>
                                    <li class="pagging__item">
                                        <a class="pagging__link" href="">...</a>
                                    </li>
                                    <li class="pagging__item">
                                        <a class="pagging__link" href="">15</a>
                                    </li>
                                </ul>
                                <button class="pagging__arrow pagging__arrow_right">
                                    <span class="_icon-arrow-bottom"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
