.header {

  // .header__top

  &__top {
  }

  // .header__body

  &__body {
  }

  // .header__catalog

  &__catalog {
  }
}


// ============= top-header  ==================
.top-header {
  background: $mainDarkColor;
  color: #fff;
  padding: rem(10) 0;

  // .top-header__container
  &__container {
    display: flex;
    align-items: center;
    gap: rem(20);
    min-height: rem(70);
  }

  // .top-header__menu

  &__menu {
    flex: 1 1 auto;
  }

  // .top-header__user

  &__user {
    display: inline-flex;
    align-items: center;
    font-weight: 600;
    line-height: 22/18;

    [class^="_icon-"] {
      font-size: rem(28);
      margin-right: rem(10);
    }
  }

  &__user-txt {
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}


.menu {

  // .menu__body

  &__body {
  }

  // .menu__list

  &__list {
    display: flex;
    row-gap: rem(5);
    column-gap: rem(60);
    flex-wrap: wrap;
  }

  // .menu__item

  &__item {

  }

  // .menu__link

  &__link {
    font-size: rem(16);
    line-height: 20/16;
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}


// ============= body-header ==================
.body-header {
  padding: rem(10) 0;
  background-color: #ECF1F2;

  // .body-header__container

  &__container {
    min-height: rem(70);
    display: flex;
    align-items: center;
  }

  // .body-header__logo

  &__logo {
    font-size: rem(42);
  }

  // .body-header__search

  &__search {
    padding-left: rem(158);
    padding-right: rem(20);
    flex: 1 1 auto;
  }

  // .body-header__actions

  &__actions {
  }
}


.search-header {
  max-width: rem(377);
  background-color: rgba(7, 7, 7, 0.03);
  border-radius: rem(3);
  position: relative;
  border: 1px solid rgba(4, 4, 4, 0.5);

  // .search-header__btn

  &__btn {
    position: absolute;
    top: 0;
    left: rem(8);
    height: rem(41);
    width: rem(41);
    color: rgba(0, 0, 0, 0.5);
  }

  // .search-header__input

  &__input {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0 rem(20) 0 rem(50);
    margin: 0 0 0 0;
    height: rem(41);
    font-size: rem(14);
    color: $mainColor;

    &::placeholder {
      color: rgba(0, 0, 0, 0.5);
    }
  }
}


//=====
.actions-header {
  display: flex;
  align-items: center;
  column-gap: 30px;

  // .actions-header__location

  &__location {
    display: inline-flex;
    align-items: center;
    font-weight: 600;
    margin: 0 rem(25) 0 0;

    ._icon-location {
      color: $mainColor;
      font-size: rem(24);
      margin: 0 10px 0 0;
    }
  }

  &__location-txt {
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  // .actions-header__phones

  &__phones {

  }

  // .actions-header__favorite

  &__favorite {
    font-size: rem(28)
  }

  // .actions-header__cart

  &__cart {
  }
}


.phones-header {

  // .phones-header__items

  &__items {
    margin: 0 0 em(3, 18) 0;
  }

  // .phones-header__item

  &__item {
    position: relative;
    display: flex;
  }

  // .phones-header__phone

  &__phone {
    font-weight: 600;
    line-height: rem(22);
    white-space: nowrap;
  }

  // .phones-header__arrow

  &__arrow {
    color: $mainOrange;
    font-size: rem(10);
    margin: 0 0 0 em(17, 16);
  }

  // .phones-header__list

  &__list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: rem(15);
    background-color: #ffffff;
    border-radius: rem(10);

    li:not(:last-child) {
      margin: 0 0 em(5, 18) 0;
    }

    &._active {
      display: block;
    }
  }

  // .phones-header__callback

  &__callback {
    font-weight: bold;
    line-height: rem(22);
    color: $mainOrange;
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}


.cart-header {
  display: flex;
  align-items: center;
  column-gap: rem(20);

  // .cart-header__icon

  &__icon {
    position: relative;
    flex: 0 0 rem(37);

    ._icon-cart {
      font-size: rem(37);
    }
  }


  &__quantity {
    position: absolute;
    top: 0;
    left: rem(26);
    width: 14px;
    height: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background: $mainOrange;
    border-radius: 50%;
    font-size: rem(8);
    line-height: rem(10);
  }

  // .cart-header__body

  &__body {
    font-size: rem(16);
    line-height: 22/16;
    flex: 0 0 auto;
  }

  // .cart-header__summ

  &__summ {
    margin: 0 0 em(5, 16) 0;
    font-weight: 500;
  }

  // .cart-header__link

  &__link {
    color: $mainOrange;
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}


//================ catalog-header =================
.catalog-header {
  background-color: $mainDarkColor;
  color: #fff;
  position: relative;

  // .catalog-header__container

  &__container {
  }

  // .catalog-header__menu

  &__menu {
  }
}


.menu-catalog {

  // .menu-catalog__list

  &__list {
    display: flex;
    gap: rem(10);
    justify-content: space-between;
  }

  // .menu-catalog__item

  &__item {

  }

  // .menu-catalog__link

  &__link {
    padding: 0 rem(10);
    min-height: rem(70);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: color 0.3s ease;

    &:after {
      opacity: 0;
      visibility: hidden;
      content: '';
      position: absolute;
      bottom: 0;
      left: rem(10);
      width: calc(100% - 20px);
      height: 1px;
      background-color: $mainOrange;
    }

    @media (any-hover: hover) {
      &:hover {
        color: $mainOrange;

        &:after {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    &._sub-menu-active {
      color: $mainOrange;

      &:after {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  // .menu-catalog__sub-menu

  &__sub-menu {
    //opacity: 0;
    //pointer-events: none;
    //position: absolute;
    //top: 100%;
    //left: 0;
    width: 100%;
    background-color: $mainDarkColor;
    transition: opacity 0.3s ease 0s;

    ._sub-menu-show & {
      //opacity: 1;
      //pointer-events: auto;
    }
  }
}


.sub-menu-catalog {
  &__container {
    padding: 0;
  }

  // .sub-menu-catalog__block

  &__block {
    padding: 0 0 rem(30) 0;
    display: none;

    &._sub-menu-open {
      display: flex;
    }
  }

  // .sub-menu-catalog__column

  &__column {
    flex: 0 1 320px;
    display: flex;
    flex-direction: column;
  }

  // .sub-menu-catalog__category

  &__category {
    align-self: flex-start;
    font-size: rem(16);
    font-weight: 700;
    line-height: 20px;
    padding: rem(30) rem(20);

    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  // .sub-menu-catalog__list

  &__list {
    padding: rem(30) rem(20);
    display: flex;
    flex-direction: column;
    gap: rem(20);
    flex: 1 1 auto;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }

  // .sub-menu-catalog__item

  &__item {
  }

  // .sub-menu-catalog__link

  &__link {
    font-size: rem(16);
    line-height: (20/16);
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  // .sub-menu-catalog__all

  &__all {
    align-self: flex-start;
    padding: 0 rem(20);
    padding-top: rem(30);
    font-size: rem(16);
    color: $mainOrange;
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
